*.mp4

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.eggs/
dist/
build/
.venv/
venv/
env/
.env
*.env

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.user

# Logs
*.log
